.coursesEnrollment {
  display: flex;
  background-color: #f9f9f7;
  height: 100vh;
}
.course-right {
  display: flex;
  flex-direction: column;
}
.filters {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.classes {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  max-height: 600px; /* Set a height limit (adjust as needed) */
  overflow-y: auto; /* Enables vertical scrolling */
}
.classrows {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
