.mainContainer {
  display: flex;
  flex-direction: row;
  background-color: #7fb4d7;
  height: 100vh;
  width: "100%";
  overflow: hidden;
}
.leftContainer {
  flex: 1;

  justify-content: center;
  align-items: center;
}
.rightContainer {
  flex: 1;

  background-color: #f9f9f7;
  margin: 2.5rem 4rem 2.5rem 12rem;

  border-radius: 30px;
}
.logoContainer {
  margin-top: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoContainer img {
  width: 21.313rem;
  height: 12.438rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer p {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 8rem;
}
.role {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f7;
  width: 8rem;
  height: 8rem;

  border-width: 3px;
  border-color: #f6cb52;
  border-style: solid;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.role img {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.continue {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.continue button {
  background-color: #f6cb52;
  color: #000000;
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
.dotts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}
.dotts span {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin: 0.3rem;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}
.socials img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
}
.footer span {
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
