.banner {
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: 11rem;
  background: linear-gradient(to right, #7fb4d7, #f6cb52);
  margin-left: 0.8rem;
  border-radius: 20px;
}
.banner p {
  margin-left: 2rem;
  margin-top: 1.4rem;
  font-family: poppins;
  color: #f9f9f7;
}
.banner span {
  font-size: 2.7rem;
  font-family: poppins;
  font-weight: 700;
  margin-left: 2rem;
  color: #f9f9f7;
}
.banner h5 {
  font-size: 1rem;
  font-weight: 400;
  font-family: poppins;
  margin-left: 2rem;
  color: #f9f9f7;
  margin-top: -0.1rem;
}
